<div class="modal-style">
        <div class="modal-header clearfix">
            <h4 ng-if="action == 'despacho'" class="modal-title">Despachos</h4>
            <span class="close ion ion-android-close" ng-click="modalClose()"></span>
        </div>
        <div class="modal-body">
           
            <form class="form-horizontal" name="form" ng-if="action != 'delete'" action="javascript:;" novalidate>
                    <div class="col-sm-12">
                            <tabset justified="true">
                                <tab heading="Registro">
                                    <div class="clearfix">
                                        <div class="row form-group">
                                            <div class="col-sm-4">
                                                <label>Fecha </label>
                                                <input type="date" class="form-control" ng-model="datos.fecha" required>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>Envio</label>
                                                <input type="text" class="form-control" ng-model="datos.envio" required>
                                            </div>
                                            <div class="col-sm-4">
                                                <label>Cantidad</label>
                                                <input type="number" class="form-control" ng-model="datos.cantidad"  required>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </tab>
                                
            
            
                                <tab heading="Salidas" active="about.active">
                                        <table class="table" >
                                            <tbody>
                                                <tr align="center" ng-if="prueba != null" >
                                                    <td >Fecha de envio </td>
                                                    <td >Envio</td>
                                                    <td >Cantidad</td>
                                                    
                                                </tr>
                                                
                                                
                                                <tr align="center" ng-repeat="item in prueba">
                                                    <td> <h5> {{item.fecha}}</h5></td>
                                                    <td> <h5> {{item.envio}}</h5></td>
                                                    <td> <h5> {{item.cantidad}}</h5></td>
                                                    
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                </tab>
                                
                            </tabset>
                        </div>  
            
                        <br>
                        <!-- end tabs -->
                        <div class="row form-group">
                            <div class="col-sm-12 text-right">
                                <br>
                                <button class="btn btn-danger" ng-click="modalClose()">Cerrar</button>
                                <button class="btn btn-success" ng-if="action == 'despacho'"  ng-click="saveData(datos)">Registrar</button>
                                <button class="btn btn-success" ng-if="action == 'update'" ng-disabled="form.$invalid" ng-click="saveData(datos)">Editar</button>
                            </div>
                        </div>
            </form>
            
        </div>
        
    </div>