<div class="page">
    <div class="page-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default table-responsive panel-hovered mb20"  >
                    <div class="panel-heading"><h4>PROCESO DE SECADO</h4></div>
                    <div class="panel-body">
                        <br>
                        <div class="row">
                            <div class="small text-bold left mt5">
                                Mostrar
                                <select data-ng-model="numPerPage"
                                        data-ng-options="num for num in numPerPageOpts"
                                        data-ng-change="onNumPerPageChange()">
                                </select>
                                &nbsp;entradas
                            </div>
                        </div>
                    </div>
                    <!-- data table -->
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>#
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                        ng-click=" order('phone') "
                                        ng-class="{active: row == 'phone'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                        ng-click=" order('-phone') "
                                        ng-class="{active: row == '-phone'}"></i>
                                </div>
                            </th>

                            <th>Orden
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                        ng-click=" order('phone') "
                                        ng-class="{active: row == 'phone'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                        ng-click=" order('-phone') "
                                        ng-class="{active: row == '-phone'}"></i>
                                </div>
                            </th>
                            
                            <th>
                                Fecha y hora de inicio 
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                        ng-click=" order('phone') "
                                        ng-class="{active: row == 'phone'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                        ng-click=" order('-phone') "
                                        ng-class="{active: row == '-phone'}"></i>
                                </div>
                            </th>
                            <th>
                                    Estilo
                                </th>
                                <th>
                                    Calibre
                                </th>
                                <th>
                                    Metraje
                                </th>
                                <th>
                                    Tipo
                                </th>
                                <th>
                                    Color
                                </th>
                            <th>
                                 Estado
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                        ng-click=" order('phone') "
                                        ng-class="{active: row == 'phone'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                        ng-click=" order('-phone') "
                                        ng-class="{active: row == '-phone'}"></i>
                                </div>
                            </th>

                            
                           <th>
                                Iniciar / Finalizar
                            </th>
                            <th>
                                Editar
                            </th>
                            
                            
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in currentPageStores track by $index">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ data.orden }}</td>
                                <td>{{ data.secado.fecha }}</td>
                                 <td>{{ data.estilo.descripcion }}</td>
                                    <td>{{ data.calibre.descripcion }}</td>
                                    <td>{{ data.metraje.descripcion }}</td>
                                    <td>
                                        <label ng-if="data.tipo == 1">
                                            Normal
                                        </label>
                                        <label ng-if="data.tipo == 1">
                                            Cafta
                                        </label>
                                    </td>
                                    <td>{{ data.color.descripcion }}</td>
                                <td>
                                    <label ng-if="data.secado.estado_id == 1">Inicio</label>
                                    <label ng-if="data.secado.estado_id == 2">Fin</label>
                                    <label ng-if="data.secado.estado_id != 1 && data.secado.estado_id != 2">Sin iniciar</label>
                                </td>
                               <!--  <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary fa fa-list-ul" ng-click="modalCreateOpen(data)" md-ink-ripple></button>
                                    </div>
    
                                </td> -->
                                 <td>
                                    <div class="btn-group" ng-if="data.secado.estado_id != 1">
                                        <button type="button" class="btn btn-primary fa fa-list-ul" ng-click="modalCreateOpen(data)" md-ink-ripple></button>
                                    </div>  
                                    <div class="btn-group" ng-if="data.secado.estado_id == 1">
                                        <button type="button" class="btn btn-danger fa fa-list-ul" ng-click="modalStopOpen(data)" md-ink-ripple></button>
                                    </div>
                                </td>

                                <td>
                                    <button type="button" class="btn btn-info ion ion-edit" ng-click="modalEditOpen(data)" ng-if="data.secado.estado_id == 1" md-ink-ripple></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- #end data table -->
                    <div class="panel-footer clearfix">
                        <p class="left mt15 small">
                            Mostrando {{currentPageStores.length*(currentPage - 1) + 1}} a {{currentPageStores.length*currentPage}} de {{datas.length}} entradas
                        </p>
                        <pagination boundary-links="true" total-items="filteredData.length" ng-model="currentPage" class="pagination-sm right"
                                    max-size="5" ng-change="select(currentPage)" items-per-page="numPerPage" rotate="false"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- #end page-wrap -->
</div>

<div class="toast toast-{{positionModel}}" style=" z-index: 10000;">
    <alert ng-repeat="toast in toasts" type="{{toast.type}}" close="closeAlert($index)" class="toast-{{toast.anim}}">
        <div ng-bind-html="toast.msg"></div>
    </alert>
</div>
