<div class="page page-dashboard" ng-controller="DashboardCtrl">
	
	<div class="page-wrap">

		<div class="row">
			<!-- dashboard header -->
			<div class="col-md-12">
				<div class="dash-head clearfix mt15 mb20">
					<div class="left">
						<h4 class="mb5 text-light">Bienvenido a Sayo tradent</h4>
						<p class="small">Bienvenido al administrador de Sayo tradent</p>
					</div>
				</div>
			</div>
		</div> <!-- #end row -->

		<!-- mini boxes -->
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="panel panel-default mb20 mini-box panel-hovered">
					<div class="panel-body">
						<div class="clearfix">
							<div class="info left">
								<h4 class="mt0 text-primary text-bold">{{ datos.total_usuarios }}</h4>
								<h5 class="text-light mb0">Total de ordenes</h5>
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix panel-footer-sm panel-footer-primary">
						<p class="mt0 mb0 left"></p>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="panel panel-default mb20 mini-box panel-hovered">
					<div class="panel-body">
						<div class="clearfix">
							<div class="info left">
								<h4 class="mt0 text-success text-bold">{{ datos.total_supervisores }}</h4>
								<h5 class="text-light mb0">Total de compras</h5>
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix panel-footer-sm panel-footer-success">
						<p class="mt0 mb0 left"></p>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="panel panel-default mb20 mini-box panel-hovered">
					<div class="panel-body">
						<div class="clearfix">
							<div class="info left">
								<h4 class="mt0 text-info text-bold">{{ datos.total_sectoristas }}</h4>
								<h5 class="text-light mb0">Total de ventas</h5>
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix panel-footer-sm panel-footer-info">
						<p class="mt0 mb0 left"></p>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="panel panel-default mb20 mini-box panel-hovered">
					<div class="panel-body">
						<div class="clearfix">
							<div class="info left">
								<h4 class="mt0 text-pink text-bold">{{ datos.total_voceadores }}</h4>
								<h5 class="text-light mb0">Total de voceadores</h5>
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix panel-footer-sm panel-footer-pink">
						<p class="mt0 mb0 left"></p>
					</div>
				</div>
			</div>
			<!-- #end mini boxes -->
		</div> 
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="panel panel-default mb20 mini-box panel-hovered">
					<div class="panel-body">
						<div class="clearfix">
							<div class="info left">
								<h4 class="mt0 text-primary text-bold">{{ datos.total_pedidos }}</h4>
								<h5 class="text-light mb0">Total de pedidos</h5>
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix panel-footer-sm panel-footer-primary">
						<p class="mt0 mb0 left"></p>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="panel panel-default mb20 mini-box panel-hovered">
					<div class="panel-body">
						<div class="clearfix">
							<div class="info left">
								<h4 class="mt0 text-success text-bold">{{ datos.pedidos_dia }}</h4>
								<h5 class="text-light mb0">Promedio de pedidos por dia</h5>
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix panel-footer-sm panel-footer-success">
						<p class="mt0 mb0 left"></p>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="panel panel-default mb20 mini-box panel-hovered">
					<div class="panel-body">
						<div class="clearfix">
							<div class="info left">
								<h4 class="mt0 text-info text-bold">{{ datos.adicionales_dia }}</h4>
								<h5 class="text-light mb0">Promedio pedidos adicionales por dia</h5>
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix panel-footer-sm panel-footer-info">
						<p class="mt0 mb0 left"></p>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="panel panel-default mb20 mini-box panel-hovered">
					<div class="panel-body">
						<div class="clearfix">
							<div class="info left">
								<h4 class="mt0 text-pink text-bold">{{ datos.total_visitas }}</h4>
								<h5 class="text-light mb0">Promedio de visitas diarias</h5>
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix panel-footer-sm panel-footer-pink">
						<p class="mt0 mb0 left"></p>
					</div>
				</div>
			</div>
			<!-- #end mini boxes -->
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="dash-head clearfix mt15 mb20">
					<div class="left">
						<h4 class="mb5 text-light">TOP</h4>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="panel panel-default mb20 mini-box panel-hovered">
					<div class="panel-body">
						<div class="clearfix">
							<div class="info left">
								<h4 class="mt0 text-primary text-bold">{{ datos.nombre_supervisor }}</h4>
								<h5 class="text-light mb0">Más visitas</h5>
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix panel-footer-sm panel-footer-primary">
						<p class="mt0 mb0 left"></p>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="panel panel-default mb20 mini-box panel-hovered">
					<div class="panel-body">
						<div class="clearfix">
							<div class="info left">
								<h4 class="mt0 text-success text-bold">{{ datos.nombre_sectorista }}</h4>
								<h5 class="text-light mb0">Más pedidos</h5>
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix panel-footer-sm panel-footer-success">
						<p class="mt0 mb0 left"></p>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="panel panel-default mb20 mini-box panel-hovered">
					<div class="panel-body">
						<div class="clearfix">
							<div class="info left">
								<h4 class="mt0 text-info text-bold">{{ datos.nombre_voceador }}</h4>
								<h5 class="text-light mb0">Más ventas</h5>
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix panel-footer-sm panel-footer-info">
						<p class="mt0 mb0 left"></p>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="panel panel-default mb20 mini-box panel-hovered">
					<div class="panel-body">
						<div class="clearfix">
							<div class="info left">
								<h4 class="mt0 text-pink text-bold">{{ datos.nombre_voceador }}</h4>
								<h5 class="text-light mb0">Usuario mas activo</h5>
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix panel-footer-sm panel-footer-pink">
						<p class="mt0 mb0 left"></p>
					</div>
				</div>
			</div>
			<!-- #end mini boxes -->
		</div>  

		<!-- #end row -->
	</div> <!-- #end page-wrap -->
</div>