<div class="modal-style">
    <div class="modal-header clearfix">
        <h4 ng-if="action == 'new'" class="modal-title">Nuevo Registro</h4>
        <h4 ng-if="action == 'update'" class="modal-title">Editar Usuario</h4>
        <h4 ng-if="action == 'detail'" class="modal-title">Detalles de Planilla</h4>
        <h4 ng-if="action == 'delete'" class="modal-title">Eliminar Usuario</h4>
        <span class="close ion ion-android-close" ng-click="modalClose()"></span>
    </div>
    <div class="modal-body">
        <div class="row form-group" ng-if="action == 'delete'">
            <h3>¿Está seguro de eliminar este Usuario?</h3>
        </div>
        <form class="form-horizontal" name="form" ng-if="action != 'delete'" action="javascript:;" novalidate>
            
            <!-- tabs registro info -->
            <div class="col-sm-12">
				<tabset justified="true">
					<tab heading="Home">
						<div class="clearfix">
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label>No. Empleado</label>
                                    <input type="text" class="form-control" ng-model="planilla.no_empleado" required>
                                </div>
                                <div class="col-sm-4">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" ng-model="planilla.nombre" required>
                                </div>
                                <div class="col-sm-4">
                                    <label>Sueldo Base</label>
                                    <input type="text" class="form-control" ng-model="planilla.sueldo_base" ng-keyup="diasTrabajados(planilla)" required>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix">
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label>Dias Trabajados</label>
                                    <input type="text" class="form-control" ng-model="planilla.dias_trabajados" ng-keyup="diasTrabajados(planilla)" required>
                                </div>

                                <div class="col-sm-4">
                                    <label>Horas extras día</label>
                                    <input type="text" class="form-control" ng-model="planilla.horas_ex_dia" ng-keyup="diasTrabajados(planilla)" required>
                                </div>
                                <div class="col-sm-4">
                                    <label>Horas extras noche</label>
                                    <input type="text" class="form-control" ng-model="planilla.horas_ex_noche" ng-keyup="diasTrabajados(planilla)" required>
                                </div>
                               
                            </div>
                        </div>

                        <div class="clearfix">
                                <div class="row form-group">
                                    <div class="col-sm-4">
                                        <label>Sueldo ordinario</label>
                                        <input disabled type="text" class="form-control" ng-model="planilla.sueldo_ordinario" required>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Sueldo extra día</label>
                                        <input disabled type="text" class="form-control" ng-model="planilla.sueldo_ex_dia" required>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Sueldo extra noche</label>
                                        <input disabled type="text" class="form-control" ng-model="planilla.sueldo_ex_noche" required>
                                    </div>
                                    
                                </div>
                        </div>
                    </tab>
                    


					<tab heading="About" active="about.active">
                        <div class="clearfix">
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label>Total extras</label>
                                    <input disabled type="text" class="form-control" ng-model="planilla.total_ex" required>
                                </div>
                                <div class="col-sm-4">
                                    <label>Bon. Legal</label>
                                    <input disabled type="text" class="form-control" ng-model="planilla.bon_legal" required>
                                </div>
                                <div class="col-sm-4">
                                    <label>Bon. Inc. Base.</label>
                                    <input type="text" class="form-control" ng-model="planilla.bon_inc_base" ng-keyup="incentivos(planilla)" required>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix">
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label>Incentivo PN</label>
                                    <input type="text" class="form-control" ng-model="planilla.incentivo_pn" ng-keyup="incentivos(planilla)" required>
                                </div>
                                <div class="col-sm-4">
                                    <label>Incentivo AS</label>
                                    <input type="text" class="form-control" ng-model="planilla.incentivo_as" ng-keyup="incentivos(planilla)" required>
                                </div>
                                <div class="col-sm-4">
                                    <label>Incentivo PN</label>
                                    <input disabled type="text" class="form-control" ng-model="planilla.incentivo_pn1" required>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix">
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label>Incentivo AS</label>
                                    <input disabled type="text" class="form-control" ng-model="planilla.incentivo_as1" required>
                                </div>
                                <div class="col-sm-4">
                                    <label>Total Bn. Inc.</label>
                                    <input disabled type="text" class="form-control" ng-model="planilla.total_bn_inc" required>
                                </div>
                            </div>
                        </div>
                    </tab>

                    
					<tab heading="Portfolio" active="portfolio.active">
                        <div class="clearfix">
                                <div class="row form-group">
                                    <div class="col-sm-4">
                                        <label>Total Ingresos</label>
                                        <input disabled type="text" class="form-control" ng-model="planilla.total_ingresos" required>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>IGSS</label>
                                        <input disabled type="text" class="form-control" ng-model="planilla.igss" required>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>ISR</label>
                                        <input type="text" class="form-control" ng-model="planilla.isr" ng-keyup="incentivos(planilla)" required>
                                    </div>
                                </div>
                        </div>
                        <div class="clearfix">
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label>Otros Descuentos</label>
                                    <input type="text" class="form-control" ng-model="planilla.otros_descuentos" ng-keyup="incentivos(planilla)" required>
                                </div>
                                <div class="col-sm-4">
                                    <label>Total Descuentos</label>
                                    <input disabled type="text" class="form-control" ng-model="planilla.total_descuentos" required>
                                </div>
                                <div class="col-sm-4">
                                    <label>Liquido Total</label>
                                    <input disabled type="text" class="form-control" ng-model="planilla.total" required>
                                </div>
                            </div>
                        </div>
                    </tab>
                    
				</tabset>
			</div>  


            <!-- end tabs -->
            <div class="row form-group">
                <div class="col-sm-12 text-right">
                    <br>
                    <button class="btn btn-danger" ng-click="modalClose()">Cerrar</button>
                    <button class="btn btn-success" ng-if="action == 'new'" ng-disabled="form.$invalid" ng-click="saveData(planilla)">Registrar</button>
                    <button class="btn btn-success" ng-if="action == 'update'" ng-disabled="form.$invalid" ng-click="saveData(planilla)">Editar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row form-group">
        <div class="col-sm-10 text-right">
            <button class="btn btn-success" ng-if="action == 'delete'" ng-click="modalClose()">Cerrar</button>
            <button class="btn btn-danger"  ng-if="action == 'delete'" ng-click="saveData(planilla)">Eliminar</button>
        </div>
    </div>
</div>